.dish-item-container {
  border: 1px solid gray;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 0px 0px 5px 0px;
  margin-bottom: 14px;
  height: 255px;
}

.veg-border {
  border: 2px solid #00923f;
  margin-left: 14px;
  margin-top: 15px;
  width: 40px;
  height: 40px;
}

.non-veg-border {
  border: 2px solid #92282a;
  margin-left: 14px;
  margin-top: 15px;
  width: 40px;
  height: 40px;
}

.veg-round {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #00923f;
  align-self: center;
  margin-top: 3px;
  padding-left: 3px;
  margin-left: 2px;
  margin-right:3px;
}

.non-veg-round {
  background-color: #92282a;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  align-self: center;
  margin-top: 3px;
  padding-left: 3px;
  margin-left: 2px;
  margin-right:3px;
}

.dish-details-container {
  width: 340px;
  display: flex;
  padding-top: 12px;
  flex-direction: column;
  margin-left: 10px;
}

.dish-name {
  font-weight: 600;
  font-family: 'Roboto';
  font-size: 16px;
  margin-top: 0;
}

.dish-currency-price {
  color: #525252;
  font-weight: 600;
  font-family: 'Roboto';
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}

.dish-description {
  color: #bfc3c7;
  font-weight: 500;
  font-family: 'Roboto';
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.controller-container {
  width: fit-content;
  min-width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border-radius: 50px;
  background-color: #00923f;
}

.button {
  padding: 5px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

.quantity {
  margin: 0 10px;
  color: #fff;
  font-size: 18px;
}

.not-availability-text {
  font-weight: 500;
  font-size: 18px;
  margin: 5px;
  color: red;
}

.addon-availability-text {
  font-weight: 500;
  font-size: 18px;
  margin: 5px 0;
  padding-top: 8px;
  color: #734ff4;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.dish-calories {
  min-width: 150px;
  max-width: 250px;
  font-weight: 500;
  font-family: 'Roboto';
  font-size: 18px;
  align-self: center;
  color: #f25622;
}

.dish-image {
  width: 210px;
  height: 240px;
  border-radius: 12px;
  margin-top:8px;
  align-self: flex-start;
}
.increase-decrease-btn {
  background-color: #00923f;
  display: flex;
  width: 80px;
  padding-top: 9px;
  padding-bottom: 9px;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 6px;
}
.btn {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: #ffffff;
}
